/* CSS Document for the DIGITAL LIBRARY Islandora SITE */

/* ________ GLOBAL ________ */

html {
	overflow-y: scroll;
	}
	

body {
	padding: 0;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	font: 100% Arial, Helvetica, sans-serif;
	background: #fff;
}

p {
	font-family: "PT Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	word-wrap: break-word;
}

h1 {
	font-family:"PT Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	font-size: 2.25em ;
	font-style: normal;
	padding-left: 0px;
	margin-top:5px;
	margin-bottom: 8px;
}

.landing-title{
	margin-top:20px;
	margin-bottom:15px;
}

h2 {
	font-family:"PT Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif ;
	font-weight: normal;
	font-size: 1.75em;
	font-style: normal;
}

h3 {
	font-size: 1.5em;
	font-family:"PT Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif ;
	margin-top:-10px;
	font-style:normal;
	font-weight:normal;
	line-height:2em;
}
h4 {
		font-size: 1.25em;
font-family: "PT Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
margin-top: 10px;
margin-bottom:10px;
font-style: normal;
font-weight: normal;
}
ul {
	list-style-type: none;
}
li {
	margin: 5px 0 10px -5px;
font-weight: normal;
}
a {
	text-decoration: none;
	color: #405a71;
}

a:hover {
	text-decoration: underline;
}

.caption {
	margin-top: -1em;
	font-size: 75%;
	font-weight: bold;
}
.tabs { 
max-width:980px;
margin:0px auto;
}

/* ________ PAGE COLUMNS AND PAGE WRAPPERS ________ */ 
	
#two-col-right-main {
font-size: 90%;
margin: 0px auto;
width: 100%;
max-width: 980px;
}
	
#two-col-right-main #main-content {
font-size: 90%;
margin: 0px auto;
width: 100%;
padding-top: 20px;
float:none;
}

#main-content {
max-width: 980px;

}

#two-col-right-main #sidebar {
	float: left;
	width: 30%;
}	

#two-col-left-main #metadata-sidebar {
	float: right;
	width: 25%;
	margin: 20px 0px;
}
#two-col-left-main #sidebar{
	width:40%;}
	
#metadata-sidebar .fieldset-wrapper {
	margin-left: 0 !important;
}

#metadata-sidebar ul {
	padding: 0;
}

#two-col-left-main{
max-width: 980px;
margin: 30px auto 0px;
min-height:500px
}

#two-col-left-main #main-content{
	max-width:980px; 
	width:auto;}

.region-sidebar {
  width: 25%;
  float:left;
  margin-right:4em;
} 
	
.collection-wrapper {
width: 100%;
padding: 10px;
min-height: 170px;
background-color: #FFF;
box-shadow: 2px 3px 2px #CCC;
border: 2px solid #5E7181;
}
	
.devel-themer-wrapper {
	font-family: "museo-slab","MuseoSlab500Regular","Rockwell","Crete Round",sans-serif ;
	font-size: 16px;
	font-weight:normal;
	color: #000;
}

.news-wrapper {
	/*border: 2px solid #c9d5d9;
	margin-bottom: 2em;
	min-height: 12em;
	width: 96%;
	min-width: 19.2em;
	padding: .4em .6em .8em .6em;*/
	overflow: hidden;
	padding: .4em .6em .8em .6em;
	min-height: 170px;
	background-color: #E5E5E5;
	box-shadow: 0px 0px 2px 1px #CCC;
	border: 7px solid #FFF;
	width: 85%;
}
	
#col2 {
	max-width: 960px;
	width:100%;
	position: relative;
	margin: 0px auto;
}
/* ----Islandora Objects ---- */

.islandora-objects-grid dl {
min-width: 275px;
min-height: 180px;
display: -moz-inline-stack;
display: inline-block;
vertical-align: top;
margin: 1.5em 1.84%;
/* These two parts cause an error
zoom: 1;
*display: inline;
_height: 180px;
*/
}
	
.islandora-basic-collection-metadata-image {
	width: 100%;
	margin: 0 0 1em 0;
}

.islandora-basic-collection-metadata-image img {
	max-width: 100%;
	padding-bottom: 30px;
}

.islandora-solr-content {
	margin:0px auto;
	width:100%;
	float:left;
}

.islandora-metadata {
	background: #EBEBD8;
	box-shadow: 0px 0px 2px 1px #CCC;
	border: 7px solid #FFF;
	padding: 15px;
	min-width: 200px;
	float: right;
}

.islandora-basic-collection.clearfix {
	width:100%;
}

.islandora-objects-display-switch {
	float:left;
}

.span-like-link {
  font-size: smaller;
  text-decoration: underline;
  color: #0071B3;
  cursor: pointer;
  float: right;
  padding: 0px;
	font: 100% Arial, Helvetica, sans-serif;
}

.searchnav {
	text-align: center;
	height: 0.8em;
}
.searchnav-links {
	list-style: none;
	display: inline-block;
}
.searchnav-links li {
	float: left;
	margin: 0 10px;
}

.views-field.views-field-mods-name-depositor-namePart-ms {
	padding-top:15px;
}

.datastream-block {
	
}

/* -----Exhibits Page ------*/


.exhibit-wrapper{
width: 96%;
padding: 10px;
min-height: 170px;
background-color: #FFF;
box-shadow: 2px 3px 2px #CCC;
border: 2px solid #5E7181;
margin-bottom:20px;
margin-top:20px;
color: #000;
overflow:hidden;
}

.exhibit-wrapper img{
float: left;
margin: 20px 10px 10px;
height: 200px;
width: auto;
}
.exhibit-wrapper h4 a{
	font-size: 1.5em;
font-family: "museo-slab","MuseoSlab500Regular","Rockwell","Crete Round",sans-serif;
font-style: normal;
font-weight: normal;
color:#000;
padding-left:.5em;
}
.exhibit-wrapper p{
	line-height: 1.5em;
	font-size:1em;
}


/*----- TOPIC PAGES -------*/

.topic-wrapper{
width: 50%;
min-height: 200px;
background-color: transparent;
margin-top:0px;
color: #000;
float:left;

}

.topic-wrapper img{
float: left;
height: 100px;
width: auto;
margin-right:1em;
margin-bottom:1em;
}
.topic-wrapper h4 a{
	font-size: 1.5em;
font-family: "museo-slab","MuseoSlab500Regular","Rockwell","Crete Round",sans-serif;
font-style: normal;
font-weight: normal;
color:#000;
padding-left:0;
}
.topic-wrapper p{
	line-height: 1.6em;
	font-size:1em;
	width:70%
}

.topic{width: 66%;
padding: 10px;
min-height: 170px;
background-color: #FFF;
box-shadow: 2px 3px 2px #CCC;
border: 2px solid #5E7181;
margin-bottom: 20px;
margin-top: 20px;
color: #000;
overflow: hidden;}

.topic_img{float: right;
margin: 1em;
height: 200px;
width: auto;
clear:both;}

.topic-related{
width: 30%;
float: right;
background: #EBEBD8;
box-shadow: 0px 0px 2px 1px #CCC;
border: 7px solid #FFF;
padding: 15px;
margin-left:3em;
clear:both;
margin-bottom:1em;
	
}
/* ________ BANNER ________ */

#pittbar {
	width:100%;
	margin:0px auto;
	max-width:980px
}

#wrap_headers {
	width: 100%;
	margin: auto;
	background: #006;

}

.blug_bg {
	background-color: #006;
}

#wrap_mainmenu {
	width: 100%;
	margin: auto;
	background: #039;
	padding-bottom:3px;
	margin-bottom:1em;
}

.ltblue_bg {
	background-color: #039;
}

.banner {
	background-color: #006;
	margin: 0px auto;
	max-width: 960px;
	width:100%;
	height: auto;
	padding-bottom: 0em;
	padding-top: 5px;
}
.banner img{
	max-width:55%;
}

/*home search Block*/

#homesearch{
	width:63%;
	height:100%;
	margin: -30% 0px 30px 20px;
	padding: 10px 15px 15px;
	background-color: #CBE0F5;
	box-shadow: 0px 0px 2px 1px #CCC;
	border: 7px solid #FFF;
}

#homesearch h2{
	margin-top:0px;
	margin-bottom:0px;
}

#homesearch h3{
	margin-top:0px;
	margin-bottom:0px;
}

#hometext{
	padding-left:20px;
	margin-bottom:30px;
}

#hometext li {
	margin-left:20px;
}

#wrap_banner {
	width: 100%;
	margin : 0px auto;
	background-color: #006;
	padding-top:0px;
}

.dark_blue {
	background-color: #006;
}

#banimage {
	width: 960px;
	max-height:160px;
	margin : 0px auto;
	background-color: #006;
	padding-bottom: 5px;
	margin-top:-4px;
	padding-top:5px;
}

.banner ul li {
	list-style: none;
	display: inline;
	font-size: 70%;
	padding-right: .6em;
	text-transform: uppercase;
}

.banner ul li a {
	text-decoration: none;
	color: #fff;
}

#nav {
	height: 2.3em;
	margin: 0px auto;
	padding: .5em 0 0 0;
	width: 100%;
	position: relative;
	background: #039;
	max-width:980px;
	border: none;
}

.primary-nav li.menu-2774{
	padding-left: 180px;
}

.primary-nav a {
	color: #fff !important;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
}
	
.primary-nav a:hover {
	color: #cc9 !important;
	text-decoration: none;
}

.primary-nav {

	margin-top:-1px;
	width: 100%;
	font-weight:bold;
	font-size:larger;
	color: #fff !important;
}

.primary-nav li {
	margin-right: 0em;
	padding: 0 1.2%;
	list-style: none;
	display: inline;
	border: none;
	font-size: 80%;
	background: transparent;
}
	
li a.active {
	color: #5057a1!important;
	text-decoration: none;
}

#nav form {
	float: right;
	margin: -1.5em -4em;
	font-size: 90%;
	min-width:300px;
}

/*Advanced Search Nav Text */

#block-block-19{
	float:right;
	font-weight:normal;
	font-size:larger;
	color: #fff !important;
	margin-top:-34px;
	padding-right:0px;
	padding-left:10px;
}

#block-block-19 a {
	float:right;
	font-weight:normal;
	color: #fff
}

#block-block-19 a:hover {
	color: #cc9!important;
	text-decoration: none;
}
/*End Advanced Search Nav */


/*----solr sidebar blocks-----*/
#block-islandora-solr-basic-facets, #block-islandora-solr-sort, #block-islandora-solr-advanced {
        margin: 20px 20px 0px 0px;
        padding: 10px 10px 20px;
        background: #CBE0F5;
        box-shadow: 0px 0px 2px 1px #CCC;
        border: 7px solid #FFF;
        width:25%;
        float:left;
        clear:both;
}
.islandora-solr-facet-wrapper {
        margin-bottom:15px;
}
/*end solr sidebar blocks*/

/*----Search in Collection -----*/
#search-in-collection{
background-color: #CBE0F5;
box-shadow: 0px 0px 2px 1px #CCC;
border: 7px solid #FFF;
margin:10px;
width:95%;
padding:10px;
}
#edit-options.container-inline.form-wrapper{
	border:none;
	display:inline;
	margin-left:2em;
}
/*end Search in Collection */

/*---Partners Logo Block---*/
#block-block-21{
	margin-left:35px;
	margin-top:-40px;
	float:right;
	margin-right:-5em;

}
/*End Partners Logo Block*/

/*---Panopto Video Styles----*/

.islandora-video-content{width:100%; min-height:350px;background-color: #CBE0F5;
box-shadow: 0px 0px 2px 1px #CCC;
border: 7px solid #FFF;}
iframe.panopto_video{width:100%;min-height:350px;}

/*---End Panopto Video Styles---*/

#edit-islandora-simple-search-query.form-text {
	max-width: 450px;
	width:60%;
}
	
.field-item.even {
	padding-left: 0px;
}


#block-block-17{
	float: right;
	min-width: 150px;
	max-width:300px;
	margin: 5px 20px 20px 30px;
	padding: 0px 0px 0px;
	background: #fff;
	box-shadow: 0px 0px 2px 1px #CCC;	
	border: 7px solid #FFF;
}

/* ________ Featured Collection ________ */

#block-block-15{
	float: right;
	min-width: 150px;
	max-width:300px;
	margin: -50px 0px 0px 10px; 
	padding: 10px;
	background-color: #efefef;
	box-shadow: 0px 0px 2px 1px #CCC;	
	border: 7px solid #FFF;
	min-height:450px;
}
#block-block-15 h2{
	margin-top:0px;
}

#block-block-15.block.block-block #carouselImg{width:280px;height:180px;display:block;
}

#block-block-15.block.block-block .bubcontain{
  width:280px;
}

#block-block-15.block.block-block #carouselBubbles{
  margin: 0; 
  padding: 0;
  text-align: center;  
}

#block-block-15.block.block-block .carouselDot{     
    
	display:inline-block;    
}

#block-block-15.block.block-block .carouselDotInactive {	
  height:12px;
  width:12px;
  background: #dddddd;
  border-radius:100%;
  margin:5px;
  cursor:pointer;
}

#block-block-15.block.block-block .carouselDotActive{	
  height:12px;
  width:12px;
  background: #545454;
  border-radius:100%;
  margin:5px;
  cursor:pointer;
}
  
/*End Featured Collection*/






/* ________ SIDEBARS & FOOTER ________ */

.widget {
	/*border: 1px solid #000;
	padding: 0 .3em .8em .7em;
	margin: 0 0 2em 0;*/
	width: 92%; /* BTB - 7/10/14 */
	min-width: 180px;
	margin: 20px 0px;
	padding: 10px 10px 20px;
	background: #CBE0F5;
	box-shadow: 0px 0px 2px 1px #CCC;
	border: 7px solid #FFF;
}

.widget h3 {
	margin-top: -.2em;
}

.widget .social-icons {
	width: 70%;
}

.widget .social-icons li {
	display: inline;
}

.news_hdr4 {
	border-top: 1px solid #000;
}

/*----Service Links Block----*/
.service-links{float:right;
width:100%;	
clear:right;	
padding: 10px 10px 20px;
	background: #CBE0F5;
	box-shadow: 0px 0px 2px 1px #CCC;
	border: 7px solid #FFF;
	margin-top:20px;
}
.service-links .item-list ul li{display:inline;}

/*--------footer---------*/
	
#footer {
	clear: both;
	border: none;
	border-top: thin solid #ccc;
	background: transparent;
	padding: 0em 0em 0em 0em;
	margin: 0px auto;
	min-height: 3em;
	position: relative;
	overflow: auto;

}
	
	
.footernav {
	margin: 0px auto;
	margin-top:20px;
	float: right;
	font-size: 14px;
}

.footernav ul {
	margin: 0px auto;
	
	list-style-type: none;
}

.footernav li {
	display: inline;
	padding: 5px;
}

.footernav ul li {
	list-style-type: none;
}
/*end footer navbar*/

#footer-col1 {
	float: left;
	width: 50%;
	margin-top: .5em;
}

#footer-col2 {
	float: right;
	width: 50%;
	margin-top: -1em;
}

#footer-col2 ul {
	margin-top: -1em;
}



/* ________ Advanced Search Page ________ */
.search-advanced .criterion {
	float:left;
	margin-left:50px;
	margin-right:20px;
}
.search-advanced .action {
	float:left;
	margin-left:50px;

}
/*End Advanced Search */



.islandora-solr-search-result{
		background-color: #efefef;
	box-shadow: 0px 0px 2px 1px #CCC;
	border: 7px solid #FFF;
	width:100%;
}
.islandora-solr-search-result a{
	font-size:1em;
}
.islandora-solr-search-result ul{
	padding:0px;
}
.search-result-wrapper {
  	height: 250px;
  	width: 250px;
  	position: relative;
  	float: left;
	padding: 0;
	margin-right: 1em;
}

.solr-metafields{
	width:56%;
	float:left;}

/*------Collections View - alpha pagination-----*/
.alpha-pagination ul > li {
  display: inline;
}

/*------Finding Aid------*/

#toc{width: 30%;float: left;color:#000;margin-right: 25px; font-size:15px;
padding: 20px 10px 0px 10px;background: transparent;float: left;color: #000;min-height: 200px;box-shadow: 0px 0px 2px 1px #CCC;border: 7px solid #FFF;background-color: #CBE0F5;}
/* These values without any specific element or attribute was in #toc above, but caused error:
 2px solid #001E4C;
*/
#toc a{color:#000;}
#toc h3{color:#000;}
#toc dd{padding-top:10px; padding-bottom:10px;}
/* The following line has an error, replaced with correction below. 
 #toc dt{font-weight:normal;font-family:100% Arial, Helvetica, sans-serif; line-height:1.5;} */
#toc dt{font-weight:normal;font:100% Arial, Helvetica, sans-serif; line-height:1.5;}
#content-right{width: 66%;margin: 0px auto;float: Right;}
#content-right dd{font-size:14px;line-height:1.5;}
#content-right dt{color:#000;font-size:1.25em; line-height:2;}
#content{width:100%;float:left;}
tr.even{background-color: #FFF;color:#000; border-bottom:0px solid #ccc;border-top:0px solid #ccc; }
tr.odd{background-color: #FFF;color:#000; border:none;}
.series td h4 {font-size:20px; line-height:1.5; font-weight:bold;}
span.address{font-size:14px;}
ul li {font-size:14px; line-height:1.5;}
.containerList td {padding-top: 2px; line-height:15px;}
hr {margin-bottom:25px;}
table.parentContainers td[colspan] {
 width: 100%;
 width: 250px;
} 
.parentContainers{margin-top:.5em;}
.subseries td h4 {font-size:18px; font-weight:bold;}
tr.series td{padding-top:2em;}
tr.subseries td{padding-top:3em;}

.ead-abstract{
  margin-left: 0px;
}

/*
// td.c03:first-line, td.c04:first-line, td.c05:first-line {
//  font-size:16px;
//  font-weight:bold;
//}
*/

/*Maintenence Shadowbox popup*****************************************************/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.maint .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 0.2s;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.maint .close:hover {
  color: #06D85F;
}
.maint .content {
  max-height: 30%;
  overflow: auto;
}

/*Overley popup when page loads*/
.overlaybox:target:before {
    display: none;
}
.overlaybox:before {
  content:"";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9;
}
.overlaybox .maint {
  background: #fff;
  width: 30%;
  position: fixed;
  top: 0;
  left: 35%;
  padding: 25px;
  margin: 70px auto;
  z-index: 10;
}
.overlaybox:target .maint {
    top: -100%;
    left: -100%;
}
/*==============BOOKREADER===========*/
div#BRpage{
	padding-left:0px;
}
/*end bookreader*/

@media screen and (max-width: 768px){
  .box{
    width: 70%;
  }
  .overlaybox .maint{
    width: 70%;
    left: 15%;
  }
}







/* ________ MISCELLANY ________ */

.islandora-objects-list-item{
	width: 90%;
padding: 10px;
background-color: #FFF;
box-shadow: 2px 3px 2px #CCC;
border: 2px solid #5E7181;
margin:20px;}

.islandora-objects-list-item dl dt {
	clear: left;
	float: left;
	padding: 0px;
	text-align: center;
	width:250px;
	margin-right:25px;
}

.islandora-objects-grid dd {
	    margin: 0px;
    padding-left: 50px;
    font-size: 12px;
    text-align: center;
    width: 150px;
}

#block-block-4{
		float: right;
}

.subtitle-first {
	margin-bottom: -.8em;
}

.item-title {
	margin-left: 0px;
	margin-bottom: 20px;
	margin-top:20px;
}

#additions {
	clear: both;
	-webkit-box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 4px 4px #ccc;
	padding: .1em .6em;
}

#additions img {
	padding: .4em;
	}

.contributions {
	padding: .1em .6em;
	background: #d0dadd
}

.li-no-list-type {
	list-style-type: none;
	}

.li-no-margin {
	margin-left: 0;
	}
	
.ul-no-margin {
	margin-left: -2.4em;
	}

.collection-wrapper img {
float: left;
margin-right:20px;
margin-left:10px;
margin-bottom:20px;
height: 150px;
width: auto;
	}

.collection-wrapper a {
	font-weight: normal;
	}

.collection-wrapper ul {
	float: left;
	margin: .3em 0 0 -2.7em;
	}

.collection-wrapper ul li {
	width: 300px;
	}

.fieldset-wrapper {
	margin-left: 0 !important;
	font-size: 90%;
	}

.news-wrapper h4 {
	padding-bottom: .6em;
	}

.creator-subtitle {
	margin-top: -1em;
	}

.p-reduced-top-margin {
	margin-top: -1.8em;
	margin-bottom: 1em;
	}

.p-reduced-top-margin {
	margin-bottom: -.6em;
	}

.taxonomy-widget {
	margin: -1em 0 0 -.3em;
	list-style: square;
	}

table {
	border-collapse: collapse; /* <= ie 7 */
	border-spacing: 0;
	width: 100%;
	margin-top: 2em;
	}

.bordered {
  -webkit-box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 4px 4px #ccc;
	}

.bordered a:hover {
	color: #263A58;
	text-decoration: underline;
	}

.bordered th {
	color: #000;
	height: 1.7em;
  background-color: #263a58;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#899aa8), to(#263a58));
  background-image: -webkit-linear-gradient(#e9edee, #d2dcdf, #bccbd0);
  background-image: -moz-linear-gradient(top, #e9edee, #bccbd0);
  background-image:  -ms-linear-gradient(top, #e9edee, #bccbd0);
  background-image:  -o-linear-gradient(top, #e9edee, #bccbd0);
  background-image:  linear-gradient(top, #e9edee, #bccbd0);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  border-top: none;
	}

.bordered tr:hover {
	background: #bccbd0;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
	}

.bordered td:first-child, .bordered th:first-child {
  border-left: none;
	}

.bordered td {
	text-align: center;
	padding: .2em .1em;
	}

.background_shading {
	background: #d0dadd;
	}

#islandora-solr-result-count { /* search count that shows up just under the Search results title on the search page */
	margin-top: -1.6em;
	}

#islandora-solr-top {
	margin-bottom: -.3em; /* added 10/23 to shorten the space between the search count and the main column.*/
	margin-left:20px;
	margin-top:25px;
	}
/* ________ TEMPLATE SPECIFIC ________ */

/* ________ islandora-solr-metadata-display.tpl ________ */

.metadata-label {
	font-weight: bold;
	}

.metadata-field {
	margin-bottom: .4em;
	}

.islandora-inline-metadata dt {
    padding-left: 0px;
	text-align: left;}

/* ________ islandora-solr.tpl ________ */

.islandora-solr-search-result {
	margin-bottom: 20px;
	margin-left:20px;
	padding: .4em .6em .8em .6em;
	min-height: 170px;
	background-color: #CBE0F5;
	box-shadow: 0px 0px 2px 1px #CCC;
	border: 7px solid #FFF;
}

.search-result-wrapper {
  	height: 250px;
  	width: 250px;
  	position: relative;
  	float: left;
	padding: 0;
	margin-right: 1em;
}

/* ________ islandora-upitt-view.tpl ________ */

#object-pg-left-col {
	font-size: 100%;
	width: 49%;
	max-width: 500px;
	float: left;
	margin-top: 0;
	margin-bottom: 1em;
}

#object-pg-left-col img {
	max-width: 100%;
	}

#object-pg-right-col {
	width: 49%;
	float: right;
	font-size: 100%;
	margin-top: 0;
	margin-bottom: 1em;
	min-width: 180px;
	padding-left: 0;
	}

/* ________ Drupal/Islandora CSS overrides ________ */

.pager {
	border: 0px solid #000;
	width: 99%;
	}
	
.partner-title {
	font-size: 130%;
	}

.item-list .pager {
	text-align: left;
font-size: small;
margin-left: -10px;
margin-top: 40px;
margin-bottom: 10px;
max-width:980px;
border: 0px solid #000;
	}

.islandora-large-image-content {
	margin-bottom: 2em;
	}
	
.islandora-basic-collection-metadata-desc {
	margin-top: 0em !important;
width: 95%;

	}

body.no-sidebars .islandora-large-image-content {
	width: 100%;
	}
/*.region-content {
	width: 960px;
	margin: 0px auto;
}*/
.islandora-metadata {
	margin-bottom: 0;
	float: right;
	position: inherit;
	}

body.no-sidebars .islandora-large-image-sidebar ul li {
	margin-left: -3em;
	}

#clip {
	display: block;
	margin-bottom: .3em;
	}

/*==========Amplitude Audio Player =============*/
div#amplitude-left div#player-left-bottom{
	    padding: 10px;
    background-color: #efefef;
    box-shadow: 0px 0px 2px 1px #CCC;
    border: 7px solid #FFF;
	margin-bottom:2em;
}
div#amplitude-right h3{
	margin-top:0px;}
	
#current_metadata{overflow-y:visible;}


/*==========Video Player =============*/
.islandora-oralhistories-content{
	padding: 10px;
    background-color: #efefef;
    box-shadow: 0px 0px 2px 1px #CCC;
    border: 7px solid #FFF;
}
.ui-widget-content {border:none;
background:transparent;
}
.ui-widget-header{background:transparent; border:none;
}

div.islandora-oralhistories-content .btn-group-justified > .btn-group .btn{
	width:32.6%;}
	
div.islandora-oralhistories-content .btn-group-justified > .btn, div.islandora-oralhistories-content .btn-group-justified > .btn-group{
		width:100%;display:inline-block;}
#tabs-list{
	border-bottom: 1px solid #363636;}
	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {border: 1px solid #363636;}
.islandora-oralhistories-metadata dt{text-align:left;}





/* ________ EXPERIMENTATION ________ */

fieldset.ead-leaf-fieldset dl.ead-did-content > dd.ead-container {
  font-weight: bold;
  text-transform: capitalize;
	margin-top: .5em;}


/* ________ MEDIA QUERIES ________ */




@media only screen and (min-width:768px) and (max-width: 991px) {
#two-col-right-main {width:80%;}
#col2 {width:80%;}
#two-col-right-main #main-content { width:100%;float:left;}
#two-col-left-main #sidebar{float:right;width:100%;}
#block-block-15{margin:0px -70px 0px 10px;}
#search-in-collection{
	width:95%;
}
	.topic-wrapper{width:100%;}	
}

@media only screen and (min-width:320px) and (max-width: 768px) {		
#two-col-right-main {width:80%;}
#col2 {width:80%;}
#two-col-right-main #main-content { min-width:50%;float:left; }
#banimage{display:none;}
.islandora-objects-grid dl { width:30%;}
#homesearch{ width:80%;height:100%;margin:  0px 0px 0px;padding: 10px 15px 5px;background-color: #CBE0F5; box-shadow: 0px 0px 2px 1px #CCC;
	border: 7px solid #FFF;}
		#block-block-15{ display:none;}
		.islandora-solr-content{margin:0px auto; Width:80%; float:left; margin-top:0px;}
		#nav {height:12em;text-align:center;}
.primary-nav li{min-width:100%;margin: 0 0 .2em 0;padding: .2em .1em;list-style: none;display: block;font-size: 100%;width: 100%;}
#wrap_mainmenu{height:250px;}
#nav form{width:100%;font-size:100%; margin:10px;}
#block-block-19 a{font-size:18px;}
#block-block-19{width:60%; float:left; margin-top:-14px;}
.islandora-objects-list-item dl dd {clear:both;margin:0px;}
#two-col-left-main #sidebar{float:right;width:100%;}
#search-in-collection{
	width:95%;
}
.content #metadata-sidebar {float:left;}
.topic-wrapper{width:100%;}	
}

@media only screen and (min-width:320px) and (max-width: 568px) {		
#two-col-right-main {width:80%;}
#col2 {width:80%;}
#two-col-right-main #main-content { min-width:50%;float:left; }
#banimage{display:none;}
#block-block-15{ display:none;}
#block-block-19{width: 70%; margin-top: -10px; float:left; padding-right:0px;}
#block-block-19 a{font-size:18px;}
.islandora-objects-grid dl { width:50%;}
#homesearch{ width:80%;height:100%;margin:  0px 0px 0px;padding: 10px 15px 5px;background-color: #CBE0F5; box-shadow: 0px 0px 2px 1px #CCC;border: 7px solid #FFF;}
#block-block-15{ display:none;}
.collection-wrapper img {float: left;margin: 0px auto;;height: auto;width: 100%;}
#nav {height:12em;text-align:center;}
.primary-nav li{min-width:100%;margin: 0 0 .2em 0;padding: .2em .1em;list-style: none;display: block;font-size: 100%;width: 100%;}
#wrap_mainmenu{min-height:275px;}
#nav form{width:100%;font-size:100%; margin:10px;}
.islandora-solr-content{margin:0px auto; Width:80%; float:left; margin-top:0px;}
#block-islandora-solr-basic-facets{display:none;}
#block-islandora-solr-sort{width:80%;}
.islandora-objects-list-item dl dd {clear:both; margin:0px;}
.islandora-metadata{width:90%;float:left;}
#two-col-left-main #sidebar{float:right;width:100%;}
#search-in-collection{
	width:95%;
}
.content #metadata-sidebar {float:left;}

.islandora-solr-content #solr-search-results { width:100%; float:left;}
#sidebar .region-sidebar {width:100%;}
.islandora-basic-collection #sidebar, #two-col-right-main #sidebar {width:100%; float:left;}
}

@media only screen and (max-width: 320px)  {
#two-col-right-main {width:80%;}
#two-col-right-main #main-content { min-width:50%; float:left;}
#block-block-15{ display:none;}
#block-block-19{width: 70%; margin-top: -10px; float:left; padding-right:0px;}
#block-block-19 a{font-size:18px;}
.islandora-objects-grid dl { width:50%;}
#homesearch{ width:80%;height:100%;margin:  0px 0px 0px;padding: 10px 15px 5px;background-color: #CBE0F5; box-shadow: 0px 0px 2px 1px #CCC;border: 7px solid #FFF;}
.collection-wrapper img {float: left;margin: 0px auto;;height: auto;width: 100%;	}
#nav {height:12em;text-align:center;}
.primary-nav li{min-width:100%;margin: 0 0 .2em 0;padding: .2em .1em;list-style: none;display: block;font-size: 100%;width: 100%;}
#wrap_mainmenu{height:275px;}
#nav form{width:100%;font-size:100%; margin:10px;}
.banner{max-height:110px;}
.islandora-solr-content{margin:0px auto; Width:80%; float:left; margin-top:0px;}
#block-islandora-solr-basic-facets{display:none;}
#block-islandora-solr-sort{width:80%;}
.islandora-objects-list-item dl dd {clear:both;margin:0px;}
.islandora-metadata{width:90%;float:left;}
#two-col-left-main #sidebar{float:right;width:100%;}
#search-in-collection{
	width:95%;
}
banimage{ display:none;}
.content #metadata-sidebar {float:left;}
.islandora-solr-content #solr-search-results { width:100% ; float:left;}
#sidebar .region-sidebar {width:100%;}
.islandora-basic-collection #sidebar, #two-col-right-main #sidebar {width:100%;  float:left;}
}

/* Finding Aids */


fieldset.ead-component legend {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 1.5em;
}

span.ead-legend-level {
  text-transform: uppercase;
}

div.ead > dl > dt {
  font-weight: bold;
  float: left;
  margin-right: 0.5em;
  font-size: 1.5em;
  margin-top: -6px;
}

div.ead > h3 {
  line-height: unset;
  margin-top: unset;
}

div.ead > h2 {
  font-weight: bold;
  font-size: 1.5em;
}

div.ead > dl > dd {
  margin-bottom: 1em;
  font-family: "PT Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5em;
}

div.ead > h3 {
  font-weight: bold;
}

div.ead section h1 {
  font-size: 1.5em;
  font-weight: bold;
}

div.ead section h2, div.ead section h3 {
  font-size: 1.2em;
}

div.ead fieldset.ead-component {
  margin: 1.5em 2px 0.5em 2px;
}

div.ead-leaf-wrapper {
  padding-left: 1em;	
}

@media (min-width:960px) { 
  div#col1 {
    float: right;
    margin-left: 1.5em;
  }
}

div.ead-leaf-notdid h3, fieldset.ead-component h3, div.ead-leaf-did h3 {
  font-size: 14px;
  margin-top: unset;
  margin-bottom: -0.5em;
  line-height: unset;
}

div.fieldset-wrapper > div.ead-leaf-container:first-of-type {
  display: none;
}

/* Common directives */

dl.ead-archdesc-did-content > dt {
    text-transform: capitalize;
}

dd.ead-abstract {
    clear: left;
}

div.ead > dl > dt:after {
  content: ': ';
}

/*
dt.ead-container {
  float: left;
  margin-right: 0.5em;
}

dt.ead-container:after {
  content: ': ';
}

fieldset.ead-leaf-fieldset dl.ead-did-content > dd.ead-container {
  font-weight: bold;
  text-transform: capitalize;
  margin-top: .5em;
}

fieldset.ead-leaf-fieldset dl.ead-did-content > dt.ead-container {
  display: none;
}
*/
dl.ead-did-content > dt.ead-container {
  display: none;
}

dl.ead-did-content > dd.ead-container {
  font-weight: bold;
  text-transform: capitalize;
  margin-top: .5em;
}
/* DONE TESTING */

a.astraeus-target {
  float: right;
}

ul.ead_daos > li > a:before {
  content: 'View online: '; 
}


/*Fix a set height overflow and word wrap issue with finding aids*/

html.js fieldset.collapsed .fieldset-legend, html.js fieldset.collapsible .fieldset-legend {
    height: auto;
}

fieldset.ead-component legend {
    white-space: break-spaces;
    height: auto;
}

.block-islandora-manuscript {
    overflow: hidden;
    height: auto;
}

.jstree-anchor {
    white-space: break-spaces;
}

.jstree-default .jstree-anchor {
    height: auto;
	font-size:17px;
}

div#col1 {
    max-width: 550px;
}
